<div class="forget-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm?.value)">
        <div class="change-pass">Change Password</div>
            <mat-form-field class="forget-full-width">
                <input matInput type="password" placeholder="Generate new password" formControlName="username"
                        [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!loginForm?.get('username')?.valid && loginForm?.get('username')?.touched">Confirm Your Password</span>
                </mat-error>
                </mat-form-field>
                <mat-form-field class="forget-full-width">
                <input matInput type="password" placeholder="Type your new password again" formControlName="password"
                        [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!loginForm?.get('password')?.valid && loginForm?.get('password')?.touched">Please confirm your password again</span>
                </mat-error>
            </mat-form-field>
            <div class="forget-button-row">
                <button type="submit" [disabled]="!loginForm?.valid" mat-flat-button color="primary">Change Password</button>
            </div>
      </form>
    </mat-card>
</div>